$bgColor:rgb(0,65,107)linear-gradient(90deg, rgba(0,65,107,0.6138830532212884) 1%, rgba(9,115,121,0.6054796918767507) 51%, rgba(0,255,248,1) 92%);
body{
    background: rgb(0,65,107);
    background: linear-gradient(90deg, rgba(0,65,107,0.6138830532212884) 1%, rgba(9,115,121,0.6054796918767507) 51%, rgba(0,255,248,1) 92%);
}
