

header{
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    div{
        padding-top: 50px;

        .translateY{
            transition: all 1s;
        }
        .translateY:hover{
            transform: translateY(-20px);
        }
        
    }
    nav{padding-top: 50px;}
    ul{
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        li{
            color:black;
            list-style-type: none;
            font-weight: bold;
        }
    }
}
a{
    text-decoration: none;
}